{{ define "user_index" }}
{{ template "user_header" }}

<!-- 
<div class="centered">
    <p> Тыкнув на эту картинку вы перейдете на официальный сайт Geant4. <br/>
        (Там можно найти документацию и скачать Geant4)
    </p>
</div> -->

    <h1>Ведутся работы</h1>
    <h2>Здесь скоро появится много информации про Geant4</h2>
    
    <div>
        <a href="https://www.youtube.com/watch?v=Lxb4WZyKeCE&list=PLLybgCU6QCGWgzNYOV0SKen9vqg4KXeVL&ab_channel=PhysicsMatters"
                    target="_blank"><p>А тут один гений уже все рассказал (но на английском)</p></a>
    </div>

    <div class="centered">
        <img src="/web/static/img/gophers.jpg" style="height: 700px;">
    </div>    

{{ template "user_footer" }}
{{ end }}